:root {
    --green: #4B8F8C;
    --blue: #484D6D;
    --left: 7vw;
    --top: 5vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-wrap: nowrap;
}

.btn:hover {
    background-color: transparent;
    color: var(--blue);
    border: 3px solid var(--blue);
    transition: .1s;
}

h2 {
    font-size: 42px;
}

hr {
    margin: auto;
    width: 80%;
    border: 0;
    border-top: 1px solid gainsboro; 
}

/* Hlavička */

header {
    background-color: var(--green);
    padding: var(--top) var(--left);
    width: 100vw;
    height: 15vh;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: inline-block;
    line-height: 0;
}

header .logo img {
    width: 10em;
}

header .container-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav {
    padding-left: 3em;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

header nav a:hover {
    opacity: 0.8;
}

header .btn {
    font-weight: bold;
    font-size: 20px;
    background-color: var(--blue);
    color: white;
    padding: 10px 35px;
    border: 3px solid var(--blue);
}

/* Hlavní sekce */

main {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    width: 100vw;
    height: 85vh;
    color: white;
    background: linear-gradient(var(--green), #519996, #346361);
}

main div {
    margin: var(--top) var(--left);
    padding: var(--top) var(--left);
}

main div h1 {
    font-size: 64px;
}

main div p {
    font-size: 32px;
}

main div h1, main div p {
    cursor: default;
    padding-bottom: var(--top);
}

main div .btn {
    display: inline-flex;
    background-color: var(--blue);
    color: white;
    width: 100%;
    height: 2em;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

main img {
    margin-right: var(--left);
}

/* Features */

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
    padding: var(--top) var(--left);
}

.feat-container {
    display: flex;
}

.feat-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feat-container h3 {
    font-size: 32px;
}

.feat-container p {
    width: 15em;
    text-align: center;
    font-size: 24px;
    color: gray;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5em;
    width: 7.5em;
    background-color: gainsboro;
    border-radius: 50%;
}

.circle img {
    width: 5em;
    height: 5em;
}